.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        text-align: center;
        color: #2e2f42;
}

.portfolio-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        text-align: left;
}

.portfolio-item-text {
    text-align: left;
}